.root {
    background-image: url('./assets/openImage.png');
    width: 20vw;
    height: 16vw;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 1vw;
    bottom: 1vw;
    z-index: 999;
    transform: rotate(-15deg);
    box-shadow: 0 0 10vw rgba(0, 114, 194, 0.8);
}

.close {
    filter: grayscale(1);
}
